.fasion__product-card{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0rem;
    cursor: pointer;
}

.fasion__product-card img{
    margin-bottom: 1.5rem;
    background-color: var(--color-bg);
}

.fasion__product-card h4{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #373737;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.fasion__product-card div{
    color: #454545;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
align-items: center;
    display: inline-flex;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    .fasion__product-card img{
        max-width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .fasion__product-card img{
        max-width: 300px;
    }
}