.shopping-icon{
    z-index: 3;
    position: absolute;
    cursor: pointer;
    top: -15px;
}

.shopping-container{
    position: relative;
}

.number{
    position: absolute; /* Position the container relative to its normal position */
    top: 0px; /* Adjust the vertical position as needed to place it below the icon */
    left: 15px;
    z-index: 50;
}