.shopping-icon{
    z-index: 3;
    cursor: pointer;
}

.shopping-container{
    display: block;
    position: relative;
}

.number{
    top: 15px; /* Adjust the vertical position as needed to place it below the icon */
    left: 15px;
    z-index: 50;
    position: absolute;
}


@media screen and (max-width: 550px) {
    .number{
        top: 15px; 
        left: 101px;
    }

    .shopping-container{
        margin-bottom: 10px;
    }
}