.title {
    color: #224F34;
    font-family: Rufina,sans-serif;
    font-size: 86px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 70%;
}

.sub-title {
    color: #267D49;
    font-family: Poppins,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 220%; /* 52.8px */
    width: 60%;
}


.header-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
}
/* Default styles for the two columns */
.column{
  flex: 2;
}

.column-right{
  flex: 1;
  display: flex;
  justify-content: right;
  padding: 70px 0px;
}

img{
    height: 700px;
    width: auto;
    align-items: center;
}

/* Media query for screens smaller than a certain size (e.g., 768px) */
@media screen and (max-width: 1400px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: 100%;
  }
}