.fasion__header{
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
}

.fasion__header-container{
    flex: 1;
    display: flex;
    justify-content:start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 3rem;
}

.fasion__header-container h1{
  color: #224F34;
  font-family: 'Rufina',sans-serif;
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2rem;
}

.fasion__header-container p {
  color: #267D49;
  font-family: 'Poppins',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 220%; /* 52.8px */
  margin-bottom: 2rem;
}

.fasion__header-image{
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 2rem;
}

.fasion__header-image img {
  width: 570px;
  height: auto;
}


@media screen and (max-width: 1350px) {
  .fasion__header {
      flex-direction: column;
      margin-top: 1rem;
  }

  .fasion__header-content {
      margin: 0 0 3rem;
  }

  .fasion__header-image{
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {

  .fasion__header-container h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .fasion__header-container p {
      font-size: 16px;
      line-height: 24px;
  }

  .fasion__header-image img {
    width: 450px;
    height: auto;
  }
  
}

@media screen and (max-width: 500px) {

  .fasion__header {
    margin-top: 0.25rem;
  }

  .fasion__header-container h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .fasion__header-container p {
      font-size: 14px;
      line-height: 24px;
  }

  .fasion__header-image img {
    width: 300px;
    height: auto;
  }

}